---
---

<article class="card">
  <div>
    <img
      src="https://images.unsplash.com/photo-1560250097-0b93528c311a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80"
      alt="Profile picture"
    />
    <div class="social">
      <a href="#0" class="link">f</a>
      <a href="#0" class="link">In</a>
    </div>
  </div>
  <div>
    <div class="details">
      <h1>Richard H. Thiel</h1>
      <p>Managing Director</p>
    </div>

    <div class="content">
      <p>
        As a continuing student of business, he has spent countless hours
        researching what makes great leaders and how the best organizations
        function to create the massive success they do. As a popular business
        speaker, his goal is to help businesses establish more trust and create
        cooperation through teamwork.
      </p>
      <p>
        He is passionate about helping companies build business systems that
        scale and always keep the customer first.
      </p>
    </div>
  </div>
</article>

<style>
  :global(:has(> .card)) {
    container-type: inline-size;
  }

  .card-wrapper {
  }

  .card {
    --gutter: 1.25rlh;
    display: grid;
    grid: auto-flow / auto 1fr;
    gap: var(--gutter);
    padding: var(--gutter);
    justify-self: center;
    /* max-inline-size: 85ch; */
    /*border-top: 6px solid #2aeeca;*/
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 50px 99px 0 rgba(50, 50, 93, 0.1),
      0 14px 34px 0 rgba(50, 50, 93, 0.15), 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  }

  .card img {
    max-width: 150px;
    border-radius: 3px;
  }

  .details {
    display: grid;
    align-content: center;
    margin-bottom: 1rlh;
  }

  .details h1 {
    /*margin-bottom: 0.15rem;*/
    line-height: 1.125;
    font-weight: 700;
    font-family: "Gotham", sans-serif;
    font-size: clamp(1.5rem, 5cqw, 2rem);
  }

  .details p {
    margin-top: 0.15rem;
    color: #4a5568;
    font-weight: 400;
    font-family: "Gotham", sans-serif;
    font-size: clamp(1.15rem, 3cqw, 1.35rem);
  }

  .social {
    position: relative;
    display: grid;
    grid: auto / repeat(2, auto);
    justify-content: center;
    gap: calc(var(--gutter) / 2);
    padding: calc(var(--gutter) / 2);
  }

  .social:before {
    content: "Connect";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 700;
    grid-column: 1 / -1;
    justify-self: center;
    color: #718096;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    height: 40px;
    width: 40px;
    display: inline-flex;
    color: #212529;
    text-decoration: none;
    background: #f3f7fb;
    border: 1px solid #c7d3dc;
    border-radius: 50%;
  }

  @container (width >= 800px) {
    p {
      font-size: 1.125rem;
      line-height: 1.6;
    }

    .card img {
      max-width: none;
      width: 220px;
      max-height: 280px;
      object-fit: cover;
      margin: calc(-2 * var(--gutter)) 0 calc(var(--gutter) / 2)
        calc(-2 * var(--gutter));
      border-radius: 6px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.15),
        0 4px 6px -2px rgba(0, 0, 0, 0.1);
    }

    .social {
      padding-left: 0;
    }
  }

  @container (width < 550px) {
    .card > div {
      display: contents;
    }

    .details {
      margin-bottom: 0;
    }

    .card img {
      max-width: 100px;
      aspect-ratio: 1;
      inline-size: max-content;
      object-fit: cover;
      object-position: 0 0;
    }

    .card .content {
      grid-column: 1 / -1;
    }

    .social {
      order: 1;
      grid-column: 1 / -1;
      background: #f7fafc;
      width: calc(100% + var(--gutter) * 2);
      margin-left: calc(-1 * var(--gutter));
      padding: var(--gutter);
      margin-bottom: calc(-1 * var(--gutter));
      border-radius: 0 0 6px 6px;
    }
  }

  @container (width < 370px) {
    body {
      --gutter: 15px;
    }
    .card img {
      --neg: calc(-1 * var(--gutter));
      max-width: 100%;
      grid-row: 1;
      grid-column: 1 / -1;
      object-fit: cover;
      margin: var(--neg) var(--neg) 0 var(--neg);
      width: calc(100% + var(--gutter) * 2);
      max-width: none;
      border-radius: 4px 4px 0 0;
    }
  }
</style>
